@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

.home__cabecalho{
    padding: .5rem 0;
    background-color: var(--yellow-700);
    position: relative;
}

.home__cabecalho-scroll{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: var(--purple-700);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.40);
}

.home__cabecalho-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__cabecalho-botao{
    border: none;
    background-color: transparent;
}

.home__cabecalho-container-logo{
    max-width: 10.9375rem;
}

.home__cabecalho-logo{
    width: 100%;
}

.home__cabecalho-secoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.home__cabecalho-secoes > button{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
    padding: 0;
}

.home__cabecalho-secoes > button:hover{
    text-decoration: underline;
    text-decoration-color: var(--purple-700);
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.home__cabecalho-scroll .home__cabecalho-secoes > button:hover{
    text-decoration-color: var(--yellow-700);
}

.home__cabecalho-botoes{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.home__cabecalho-botoes-acoes-pc{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.home__cabecalho-scroll .home__cabecalho-botoes div button,
.home__cabecalho-scroll .home__cabecalho-secoes div button{
    border: 1px solid white;
    transition: border 0.1s;
}

.home__cabecalho-scroll .home__cabecalho-botoes div button:hover{
    border: 1px solid var(--purple-700);
}

.home__cabecalho-botoes-acoes-mobile{
    display: none;
}

.home__cabecalho-menu-mobile{
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none;
    padding: 0;
}

.home__cabecalho-menu-mobile div{
    background-color: white;
    width: 20px;
    height: 2px;
    margin: 4px;
    transition: 0.3s ease-in;
}


.home__banner{
    background-color: var(--purple-800);
    padding: 3.125rem 0 0;
    position: relative;
}

.home__banner-divisor-cabecalho{
    background: url(../../assets/divisor-amarelo-home.svg);
    background-size: contain;
    background-position: center;
    height: 50px;
    width: 100%;
    position: absolute;
}

.home__banner-divisor-cabecalho--cima{
    top: 0;
}

.home__banner-divisor-cabecalho--baixo{
    bottom: 0;
    transform: rotate(180deg);
}

.home__banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.home__banner-container-info{
    max-width: 31.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.home__banner-titulo{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Baloo 2", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.5rem;
    margin: 0;
}

.home__banner-descricao{
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.home__banner-botao{
    max-width: 10.375rem;
}

.home__banner-container-imagem{
    max-width: 650px;
}

.home__banner-imagem{
    width: 100%;
    height: auto;
}

.home__banner-divisor-amarelo{
    height: 5rem;
    align-self: stretch;
    background: var(--yellow-700);
}

.home__oquee{
    padding: 11.125rem 0 14.625rem;
    position: relative;
}

.home__oquee-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.25rem;
}

.home__oquee-titulo{
    color: black;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

.home__oquee-container-texto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.home__oquee-container-logo{
    max-width: 22.9375rem;
    flex-shrink: 0;
}

.home__oquee-logo{
    width: 100%;
    display: block;
}

.home__oquee-textos{
    max-width: 41.93rem;
}

.home__oquee-textos .home__oquee-texto:last-child{
    margin-bottom: 0;
}

.home__oquee-texto{
    color: #262626;
    text-align: justify;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.home__como-usar{
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.home__como-usar-divisor--mobile{
    display: none;
}

.home__como-usar-divisor{
    background-repeat: repeat-x;
    background-size: contain;
    height: 50px;
    position: absolute;
    width: 50%;
}

.home__como-usar-divisor--baixo{
    bottom: 0;
}

.home__como-usar-divisor--cima{
    top: 0;
    transform: rotate(180deg);
}

.home__como-usar-divisor--baixo.home__como-usar-divisor--organizador,
.home__como-usar-divisor--cima.home__como-usar-divisor--prestador{
    background-position: right;
}

.home__como-usar-divisor--organizador{
    background: url(../../assets/divisor-roxo-como-usar-home.svg);
    left: 0;
}

.home__como-usar-divisor--prestador{
    background: url(../../assets/divisor-amarelo-como-usar-home.svg);
    right: 0;
}

.home__como-usar-titulo{
    z-index: 2;
    position: absolute;
    top: 8rem;
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    width: 100%;
    text-align: center;
}

.home__como-usar-organizador,
.home__como-usar-prestador{
    padding: 14.6875rem 0 8rem;
    width: 100%;
    display: flex;
}

.home__como-usar-organizador{
    justify-content: flex-end;
    background-color: var(--purple-800);
}

.home__como-usar-prestador{
    background-color: var(--yellow-700);
    justify-content: flex-start;
}

.home__como-usar-overlay{
    position: relative;
}

.home__como-usar-organizador::before,
.home__como-usar-prestador::before,
.home__como-usar-overlay::after,
.home__como-usar-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home__como-usar-organizador::before {
    background: rgba(0, 0, 0, 0.5) url(../../assets/fundo-home-como-usar-organizador.png);
    opacity: 0.2;
    background-size: 50%;
}

.home__como-usar-prestador::before {
    background: rgba(0, 0, 0, 0.5) url(../../assets/fundo-home-como-usar-prestador.png);
    opacity: 0.2;
    background-size: 50%;
}

.home__como-usar-overlay::after {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.home__como-usar-overlay > *{
    position: relative;
    z-index: 2;
}

.home__como-usar-container{
    width: 660px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__como-usar-organizador .home__como-usar-container{
    margin: 0 0 0 auto;
}

.home__como-usar-prestador .home__como-usar-container{
    margin: 0 auto 0 0;
}

.home__como-usar-card{
    max-width: 29rem;
    padding: 3rem 2rem;
    margin: 0 1rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.home__como-usar-card--organizador{
    background-color: var(--purple-800);
}

.home__como-usar-card--prestador{
    background-color: var(--yellow-800);
}

.home__como-usar-card-titulo{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25;
    margin: 0;
}

.home__como-usar-container-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.home__como-usar-card-texto{
    color: #FFF;
    text-align: justify;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.home__como-usar-frase-container{
    padding: 0 2rem;
    display: flex;
    gap: .5rem;
}

.home__como-usar-frase-detalhe{
    width: 6px;
    height: auto;
    display: block;
}

.home__como-usar-frase-detalhe--organizador{
    background: var(--purple-900);
}

.home__como-usar-frase-detalhe--prestador{
    background: var(--yellow-900);
}

.home__como-usar-frase{
    color: #FFF;
    text-align: justify;
    font-size: .875rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.home__funcionalidades{
    position: relative;
}

.home__funcionalidades-organizador{
    padding: 8rem 0 2rem;
    background: url(../../assets/fundo-home-funcionalidades-organizador.png);
    background-size: 20%;
    background-position: center;
}

.home__funcionalidades-prestador{
    padding: 6.25rem 0 7.56rem;
    background: url(../../assets/fundo-home-funcionalidades-prestador.png);
    background-size: 20%;
    background-position: bottom;
    position: relative;
}

.home__funcionalidades .container {
  overflow-x: hidden;
}

.home__funcionalidades-titulo{
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 6.25rem;
}

.home__funcionalidades-container{
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
}

.home__funcionalidades-container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__funcionalidades-card{
    max-width: 22.625rem;
    border-radius: 1rem;
    border-width: 3px;
    border-style: solid;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.home__funcionalidades-card--organizador{
    border-color: var(--purple-900);
    background-color: var(--purple-800);
}

.home__funcionalidades-card--prestador{
    border-color: var(--yellow-900);
    background-color: var(--yellow-800);
}

.home__funcionalidades-card-titulo{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.home__funcionalidades-card-texto{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.home__funcionalidades-divisor{
    background: url(../../assets/divisor-funcionalidades-home.svg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 107.04px;
    position: absolute;
    top: -1px;
    width: 100%;
}

.home__chamada{
    padding: 11.125rem 0;
    position: relative;
    overflow: hidden;
}

.home__chamada-divisor{
    background: url(../../assets/divisor-funcionalidades-baixo-home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
}

.home__chamada-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home__chamada-titulo{
    color: black;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.8;
    margin: 0;
}

.home__chamada-texto{
    max-width: 46.3rem;
    color: black;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.home__chamada-botao{
    max-width: 10.375rem;
}

.home__rodape-divisor{
    background: url(../../assets/divisor-rodape-home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scaleX(1.5);
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home__rodape-infos{
    background-color: var(--purple-700);
    padding: 3rem 0;
}

.home__rodape-infos-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home__rodape-logo-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__rodape-logo{
    max-width: 16.125rem;
}

.home__rodape-logo img{
    width: 100%;
    display: block;
}

.home__rodape-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.home__rodape-links ul li{
    list-style-type: none;
    color: white;
}

.home__rodape-links ul li:not(:first-child)::before {
    content: "•";
    color: white;
    display: inline-block;
    width: 1rem;
    margin: 0 0.5em;
    text-align: center;
}

.home__rodape-links ul li a{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-underline-position: from-font;
    transition: text-decoration 0.3s ease-in-out;
}

.home__rodape-links ul li a:hover{
    text-decoration-color: transparent;
}

.home__rodape-container-feito{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home__rodape-feito-divisor{
    width: 100%;
    height: 1px;
    background-color: white;
    display: block;
}

.home__rodape-feito{
    color: white;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    white-space: nowrap;
}

.home__rodape-feito-coracao{
    color: #F43737;
}

.home__rodape-autores{
    margin: 0 auto;
}

.home__rodape-autores ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home__rodape-autores ul li{
    list-style-type: none;
    color: white;
    position: relative;
    padding-left: 4rem;
}

.home__rodape-autores ul li:first-child{
    padding-left: 0;
}

.home__rodape-autores ul li:not(:first-child)::before {
    content: "•";
    color: white;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    margin: 0 1.5rem;
    text-align: center;
}

.home__rodape-autor-nome{
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.home__rodape-autores-links{
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.home__rodape-autores-links a{
    transition: transform 0.3s ease-in-out;
}

.home__rodape-autores-links a:hover{
    transform: scale(1.1);
}

.home__rodape-autores-links a i{
    font-size: 26px;
    color: white;
}

.home__rodape-copy{
    background-color: var(--purple-800);
    padding: 1.5rem 0;
    text-align: center;
}

.home__rodape-copy-texto{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (min-width: 990px) and (max-width: 1400px){
    .home__rodape-autores ul{
        max-width: 900px;
    }

    .home__rodape-autores ul li:nth-child(4){
        padding-left: 0;
    }

    .home__rodape-autores ul li:nth-child(4):before {
        content: "";
    }
}

@media screen and (max-width: 1399px){
    .home__como-usar-container{
        width: 570px;
    }
}

@media screen and (max-width: 1199px){
    .home__banner-container-info{
        max-width: 25rem;
        gap: 1rem;
    }

    .home__banner-titulo{
        color: #FFF;
        font-size: 2.7rem;
        line-height: 1.3;
    }

    .home__banner-descricao{
        font-size: 1rem;
    }

    .home__como-usar-container{
        width: 480px;
    }
}

@media screen and (max-width: 991px){
    .home__cabecalho-secoes{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .home__cabecalho .home__cabecalho-secoes{
        background-color: var(--yellow-700);
    }

    .home__cabecalho-scroll .home__cabecalho-secoes{
        background-color: var(--purple-700);
    }

    .home__cabecalho-secoes--mobile-fechado{
        display: none;
    }

    .home__cabecalho-secoes > button{
        padding: 1rem 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid white;
        transition: background-color 0.2s ease-in-out;
    }

    .home__cabecalho-secoes > button:last-of-type{
        border-bottom: 1px solid white;
    }

    .home__cabecalho-secoes > button:hover{
        text-decoration: none;
    }

    .home__cabecalho .home__cabecalho-secoes > button:hover{
        background-color: var(--yellow-800);
    }

    .home__cabecalho-scroll .home__cabecalho-secoes > button:hover{
        background-color: var(--purple-800);
    }

    .home__cabecalho-menu-mobile{
        display: block;
    }

    .home__cabecalho-menu-mobile--ativo .home__cabecalho-menu-linha1{
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    .home__cabecalho-menu-mobile--ativo .home__cabecalho-menu-linha2{
        opacity: 0;
    }

    .home__cabecalho-menu-mobile--ativo .home__cabecalho-menu-linha3{
        transform: rotate(45deg) translate(-4px, -5px);
    }

    .home__banner{
        padding: 6rem 0 0;
    }

    .home__banner-divisor-cabecalho{
        background-size: cover;
        height: 55px;
    }

    .home__banner-container-info{
        max-width: 100%;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .home__banner-titulo{
        font-size: 3rem;
    }

    .home__banner-container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .home__banner-container-imagem{
        max-width: 450px;
    }

    .home__oquee-container{
        gap: 3rem;
    }

    .home__oquee-container-texto{
        flex-direction: column;
    }

    .home__oquee-container-texto:first-of-type{
        flex-direction: column-reverse;
    }

    .home__como-usar{
        flex-direction: column;
    }

    .home__como-usar-divisor--pc{
        display: none;
    }

    .home__como-usar-divisor--mobile{
        display: block;
    }

    .home__como-usar-divisor--mobile .home__como-usar-divisor--organizador:nth-child(2){
        left: auto;
        right: 0;
        background-position: left;
    }

    .home__como-usar-divisor--mobile .home__como-usar-divisor--prestador:first-child{
        left: 0;
        right: auto;
        background-position: left;
    }

    .home__como-usar-organizador{
        padding: 14.6875rem 0 4rem;
    }

    .home__como-usar-prestador{
        padding: 4rem 0 4rem;
    }

    .home__como-usar-organizador .home__como-usar-container,
    .home__como-usar-prestador .home__como-usar-container{
        margin: 0 auto;
    }

    .home__funcionalidades-prestador{
        padding: 4.25rem 0 7.56rem;
    }

    .home__funcionalidades-container{
        gap: 3rem;
    }

    .home__rodape-logo-links{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .home__rodape-autores ul{
        max-width: 575px;
    }

    .home__rodape-autores ul li:nth-child(3),
    .home__rodape-autores ul li:nth-child(5){
        padding-left: 0;
    }

    .home__rodape-autores ul li:nth-child(3):before,
    .home__rodape-autores ul li:nth-child(5):before {
        content: "";
    }
}

@media screen and (max-width: 767px){
    .home__banner-titulo{
        font-size: 2.5rem;
    }

    .home__banner-container-imagem{
        max-width: 350px;
    }

    .home__banner-divisor-amarelo{
        height: 3rem;
    }

    .home__oquee-titulo,
    .home__como-usar-titulo,
    .home__funcionalidades-titulo{
        font-size: 2.5rem;
    }

    .home__como-usar-card-titulo{
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 700px){
    .home__cabecalho-container-logo{
        max-width: 9.0625rem;
    }

    .home__oquee-titulo,
    .home__como-usar-titulo,
    .home__funcionalidades-titulo{
        font-size: 2rem;
        padding: 0 .5rem;
    }

    .home__oquee-container-logo{
        max-width: 15rem;
        flex-shrink: 0;
    }
    
    .home__como-usar-card{
        margin: 0;
    }

    .home__como-usar-card img{
        max-width: 100%;
    }

    .home__oquee-container-texto,
    .home__chamada-container{
        padding: 0 1rem;
    }

    .home__oquee-texto{
        font-size: 1rem;
    }
}

@media screen and (max-width: 575px){
    .home__cabecalho-botoes-acoes-mobile{
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 1rem;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        background-color: var(--purple-900);
        border-bottom: 1px solid white;
    }

    .home__cabecalho-scroll .home__cabecalho-secoes div button{
        border: none;
    }

    .home__cabecalho-botoes-acoes-pc{
        display: none;
    }

    .home__banner-divisor-amarelo{
        height: 2rem;
    }

    .home__oquee-titulo,
    .home__como-usar-titulo,
    .home__funcionalidades-titulo{
        font-size: 1.8rem;
    }

    .home__funcionalidades-titulo{
        margin-bottom: 3rem;
    }

    .home__como-usar-card-titulo{
        font-size: 1.3rem;
    }

    .home__como-usar-container{
        width: 100%;
    }

    .home__chamada-titulo{
        font-size: 2rem;
        line-height: 1.5;
    }

    .home__rodape-links ul li a{
        font-size: 0.875rem;
    }

    .home__rodape-autores ul{
        flex-direction: column;
    }

    .home__rodape-autores ul li{
        padding-left: 0;
    }

    .home__rodape-autores ul li:not(:first-child)::before,
    .home__rodape-autores ul li::before{
        content: "";
    }
}

@media screen and (max-width: 400px){
    .home__banner-titulo{
        font-size: 2rem;
    }

    .home__banner-descricao{
        font-size: 0.875rem;
    }

    .home__banner-container-imagem{
        max-width: 300px;
    }
    
    .home__rodape-links ul{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .home__rodape-links ul li:not(:first-child)::before {
        content: "";
        margin: 0;
        width: 0;
    }
}