@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --purple-700: #8C5DFF;
    --purple-400: #8135E6;
    --fonte-principal: "Bree Serif", serif;
    --fonte-secundaria: "Inter", sans-serif;
}

body{
    font-family: var(--fonte-principal);
}

